@charset "UTF-8";
/*------------Importations des variables et des mixins------------*/
/*------------Importations Polices Shrikhand & Roboto------------*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*------------Variables------------*/
/*var-color*/
/*var-font*/
/*var-gradient*/
/*var-media queries*/
/*var-zone de zoom sur image des pages restaurants*/
/*var-durée et délais d'animation pour l'apparition des menus */
/*var-valeurs de chevauchement du menu sur l'image des menus */
/*vaer-largeur du conteneur de la coche des menus */
/*------------Mixins------------*/
/*var-size*/
/*var- display: flex*/
/*var- button*/
/*------------Importations des styles des menus------------*/
/*------------Importations des variables et des mixins------------*/
/*------------Importations des variables et des mixins------------*/
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  position: relative;
}
.header__menu .goback-icon {
  position: absolute;
  left: 23px;
}
.header__menu .goback-icon .fa-solid {
  color: #353535;
  width: 17.2px;
  font-size: 16px;
}

main > img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  main > img {
    height: 383px;
  }
}

@media (min-width: 1024px) {
  .main__image--palette-du-gout {
    -o-object-position: center 58%;
       object-position: center 58%;
  }
}

.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 13px;
  margin-bottom: -55px;
  /*Animations d'apparition des sections (entrées puis plats puis desserts)*/
}
@media (min-width: 1024px) {
  .menu {
    margin: auto;
    width: 1055px;
    padding: unset;
    bottom: 40px;
    margin-bottom: -40px;
  }
}
.menu section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1024px) {
  .menu section {
    margin: auto;
  }
}
.menu .menu__title {
  display: flex;
  flex-direction: row;
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}
@media (min-width: 1024px) {
  .menu .menu__title {
    justify-content: center;
    gap: 24px;
    padding-top: 51px;
  }
}
.menu .menu__title h1 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 400;
  font-weight: 400;
  font-size: 28px;
  color: #101010;
  margin: 0;
}
.menu .menu__title .fa-regular {
  width: 22px;
  font-size: 21px;
  color: #101010;
}
.menu__starter, .menu__dishes, .menu__desserts {
  transform-origin: 50% 0%;
  transform: scaleY(0);
  animation: menu 1s ease-in-out forwards;
}
.menu__dishes {
  animation-delay: 1s;
}
.menu__desserts {
  animation-delay: 2s;
}
@keyframes menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.menu h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.menu h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 9px;
}
.menu .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.04px;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu .card {
    width: 634px;
  }
}
.menu .card:hover .card__check {
  left: calc(100% - 59px);
}
.menu .card:hover .card__price {
  margin-right: 59px;
}
.menu .card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.menu .card__text h3 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu .card__text p {
  font-weight: 300;
  font-size: 15.04px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu .card__price {
  font-weight: 700;
  font-size: 15.04px;
  color: #353535;
  margin-top: 26px;
  transition: margin-right 1s;
}
.menu .card__check {
  background-color: #99E2D0;
  width: 59px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  left: 100%;
  transition: left 1s;
}
.menu .card__check .fa-circle-check {
  color: #99E2D0;
  background-color: #FFFFFF;
  font-size: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu .reservation__button {
  width: 186px;
  margin: 0 auto 40px auto;
}

/*------------Importations des variables et des mixins------------*/
/*------------Importations des variables et des mixins------------*/
@media (min-width: 1024px) {
  .main__image--le_delice_des_sens {
    -o-object-position: center 70%;
       object-position: center 70%;
  }
}

/*------------Importations des variables et des mixins------------*/
/*------------Importations des variables et des mixins------------*/
@media (min-width: 1024px) {
  .main__image--la_note_enchantee {
    -o-object-position: center 60%;
       object-position: center 60%;
  }
}

/*------------Importations des variables et des mixins------------*/
/*------------Importations des variables et des mixins------------*/
@media (min-width: 1024px) {
  .main__image--a_la_française {
    -o-object-position: center 68%;
       object-position: center 68%;
  }
}

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: "Roboto", "sans-serif";
  color: #000000;
  min-width: 325px;
  max-width: 1440px;
}
@media (min-width: 1024px) {
  body {
    margin: auto;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  animation: loader 0s 1.15s forwards;
}
.loader__bar {
  width: 50vw;
  height: 10vh;
  border: 1px solid #000000;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  animation: loader__bar 1s 150ms forwards;
}

@keyframes loader {
  to {
    width: 0;
    height: 0;
    border: none;
  }
}
@keyframes loader__bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.main__content {
  animation: main-content 0ms 1150ms both;
}

@keyframes main-content {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
header {
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header img {
  width: 197px;
  font-size: 36px;
  font-family: "Shrikhand", "sans-serif";
  font-weight: 400;
}

.location {
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1024px) {
  .location {
    box-shadow: none;
    margin: 0;
  }
}
.location p {
  font-weight: 500;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

.reservation {
  background-color: #F6F6F6;
  padding: 39px 0 57px 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .reservation {
    padding: 30px 0;
  }
}
.reservation h2 {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  margin: 0px;
}
@media (min-width: 1024px) {
  .reservation {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .reservation h1, .reservation h2, .reservation h3 {
    margin: 0 auto 0 auto;
  }
}
.reservation__button {
  margin: 27px auto 0 auto;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 218px;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.reservation__button:hover::after {
  opacity: 1;
}
.reservation__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: opacity 250ms;
}

.presentation {
  background-color: #FFFFFF;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .presentation {
    margin: 0;
    padding: 50px 180px;
  }
}
.presentation h2 {
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .presentation h2 {
    margin-bottom: 25px;
  }
}
.presentation__article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .presentation__article {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.presentation__article .article__button {
  height: 72.38px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  position: relative;
  left: 12px;
  margin-right: 12px;
}
@media (min-width: 1024px) {
  .presentation__article .article__button {
    width: 100%;
  }
}
.presentation__article .article__button .article__number {
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  right: 12px;
}
.presentation__article .article__button .fa-solid.fa-mobile-screen-button {
  width: 13px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.presentation__article .article__button .fa-solid.fa-store {
  width: 18px;
  font-size: 18px;
  color: #9356DC;
}
.presentation__article .article__button .fa-solid {
  color: #7E7E7E;
  margin: 0 27px 0 10px;
}

.restaurants {
  padding: 54px 18px 66px 17px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 30px 180px;
  }
}
.restaurants h2 {
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .restaurants h2 {
    margin-bottom: 28px;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
.restaurants__cards a {
  text-decoration: unset;
  color: #000000;
}
@media (min-width: 1024px) {
  .restaurants__cards a {
    width: calc((100% - 100px) / 2);
  }
}
.restaurants__cards .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #FFFFFF;
}
.restaurants__cards .card__image {
  position: relative;
}
.restaurants__cards .card__image img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__cards .card__image--button {
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 0;
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants__cards .card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 13px;
}
@media (min-width: 1024px) {
  .restaurants__cards .card__content {
    padding-left: 18.74px;
  }
}
.restaurants__cards .card__content .card-title {
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 18px;
}
.restaurants__cards .card__content .card-subtitle {
  margin: 0 0 12px 0;
  font-weight: 300;
  font-size: 17px;
}
.restaurants__cards .card__content .card-heart {
  position: relative;
}
.restaurants__cards .card__content .card-heart:hover .fa-solid {
  opacity: 1;
}
.restaurants__cards .card__content .card-heart .fa-solid,
.restaurants__cards .card__content .card-heart .fa-regular {
  width: 22px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  color: #101010;
}
.restaurants__cards .card__content .card-heart .fa-solid {
  opacity: 0;
  background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  position: absolute;
  top: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: opacity 1s ease-in-out;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
}
footer .footer__logo {
  width: 139px;
  font-size: 27px;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  footer .footer__logo {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  footer .footer__content {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}
footer .footer__content .footer__text-icon {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .footer__content .footer__text-icon {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-right: 44px;
  }
}
footer .footer__content .footer__text-icon div {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
footer .footer__content .footer__text-icon div .fa-solid {
  color: #FFFFFF;
  width: 11px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
footer .footer__content .footer__text-icon div a {
  text-decoration: unset;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}
footer .footer__content .footer__list {
  margin: 7px 0 0 0;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .footer__content .footer__list {
    margin: 0 90px 0 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
footer .footer__content .footer__list a {
  text-decoration: unset;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */