@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$main-color: #F6F6F6;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white-color: #FFFFFF;
$location-color: #EAEAEA;
$footer-color: #353535;
$icon-color: #7E7E7E;
$black-color: #000000;
$card__text--button-color : #008766;

@mixin text-logo {
    font-family: 'Shrikhand', 'sans-serif';
    font-weight: 400;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin button {
    width: 218px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


body {
    background-color: $main-color;
    margin: 0px;
    font-family: 'Roboto', 'sans-serif';
    color: $black-color;
}

header {
    text-align: center;
    background-color: $white-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    & img {
        width: 197px;
        height: 36px;
        @include text-logo;
        font-size: 30px;
    }
}

.location {
    background-color: $location-color;
    color: $footer-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    & p {
        font-weight: 500;
        font-size: 16px;
    }
}

h1 {
    margin-top: 39px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.reservation h2 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: $footer-color;
}

.reservation__button {
    margin: 27px auto 57px auto;
    font-weight: 500;
    font-size: 16px;
    color: $white-color;
    @include flex-center;
    @include button;
}

.presentation {
    background-color: $white-color;
    padding: 48px 20px 68px 20px;

    h2 {
        margin-bottom: 26px
    }

    .presentation__article {
        @include flex-column;
        gap: 25px;
    }
}

.article__number {
    width: 24px;
    height: 24px;
    font-size: 14.18px;
    font-weight: 500;
    color: $white-color;
    border-radius: 50%;
    background-color: $primary-color;
    @include flex-center;
    position: relative;
    right: 12px;
}

.article__button {
    display: flex;
    align-items: center;
    gap: 27px;
    background-color: $main-color;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 12px;
    margin-right: 12px;
    height: 72.38px;
}

.fa-solid.fa-mobile-screen-button {
    width: 13px;
    height: 20px;
    @include flex-center;
}

.fa-solid.fa-store {
    width: 18px;
    height: 18px;
    color: $primary-color;
}

.fa-solid {
    color: $icon-color;
}


h2 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
}

.restaurants {
    padding: 54px 18px 66px 17px;

    .restaurants__cards {
        @include flex-column;
        gap: 18px;

    a {
        text-decoration: unset;
        color: $black-color;
    }

        .card {
            @include flex-column;
            gap: 18px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            background-color: $white-color;
        }

        .card .card__image {
            position: relative;
        }

        .card .card-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 13px;
            padding-right: 25px;
        }

        .card-title {
            margin-top: 0px;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 18px;
        }

        .heart-gradient {
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .card-subtitle {
        margin-top: 0px;
        margin-bottom: 12px;
        }

        .card img {
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card .card__image--button {
            color: $card__text--button-color;
            font-weight: 500;
            font-size: 14px;
            background-color: $tertiary-color;
            width: 80px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            margin: 0px;
            position: absolute;
            top: 13px;
            right: 12px;
        }

        .fa-solid,
        .fa-regular {
            width: 22px;
            font-size: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
}

footer {
    background-color: #353535;
    padding: 22px 25px;
    
    .footer__logo {
        margin-bottom: 16px;
    }

    .footer__content {
        @include flex-column;
        gap: 7px;

        div {
            display: flex;
            gap: 11px;

            .fa-solid {
                color: #FFFFFF;
                width: 11px;
                font-size: 13px;
                display: flex;
                align-items: center;
            }

            a {
                text-decoration: unset;
                color: white;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    .footer__list {
        margin-top: 7px;
        margin-bottom: 0px;
        padding: 0px;
        list-style: none;
        color: $white-color;
        display: flex;
        flex-direction: column;
        gap: 7px;

        a {
            text-decoration: unset;
            color: $white-color;
            font-weight: 400;
            font-size: 16px;
        }
    }
}