/*------------Importations des variables et des mixins------------*/

@use 'functions/variables_and_mixins' as *;

/*------------Importations des styles des menus------------*/

@use 'menus/menu' as *;
@use 'menus/menu-le_delice_des_sens' as *;
@use 'menus/menu-la_note_enchantee' as*;
@use 'menus/menu-a_la_française' as*;

/*------------Importations Polices Shrikhand & Roboto------------*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: $white-color;
    margin: 0;
    font-family: $main-font-family;
    color: $black-color;
    min-width: $min-width-mobile;
    max-width: $max-width-desktop;

    @media (min-width: $min-width-desktop) {
    margin: auto;
    }
}

.loader {
    @include box-size(100vw,100vh);
    @include flex-center;
    animation: loader 0s 1.15s forwards;

    &__bar {
        @include box-size(50vw,10vh);
        border: 1px solid $black-color;
        transform: scaleX(0);
        transform-origin: left;
        background: $linear-gradient;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        animation: loader__bar 1s 150ms forwards;
    }
}

@keyframes loader {
  to {
    @include box-size(0,0);
    border: none;
  }
}

@keyframes loader__bar {
    from {
        transform: scaleX(0);  
    }
    to {
        transform: scaleX(1);
    }
}

.main__content {
    animation: main-content 0ms 1150ms both;
}

@keyframes main-content {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}

header {
    text-align: center;
    background-color: $white-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    & img {
        @include logo-size(197px, 36px);
        @include text-logo;
    }
}

.location {
    background-color: $location-color;
    color: $dark-grey-color;
    @include flex-center (17px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: $min-width-desktop) {
    box-shadow: none;
    margin: 0;
    }
    
    & p {
        @include text-font(500, 16px);
    }
}

h1 {
    margin-top: 0;
    @include text-font(700, 24px);

    @media (min-width: $min-width-desktop) {
    font-size: 40px;
    }
}

h2 {
    @include text-font(700, 24px);
    margin-top: 0;
}

h3 {
    @include text-font(500, 16px);
}

.reservation {

    background-color: $main-color;
    padding: 39px 0 57px 0;
    text-align: center;

    @media (min-width: $min-width-desktop) {
    padding: 30px 0;
    }
   
    & h2 {
    @include text-font(300, 18px);
    color: $dark-grey-color;
    margin: 0px;
    }

    @media (min-width: $min-width-desktop) {
    @include flex-column (18px);

    & h1,
    & h2,
    & h3 {
        margin: 0 auto 0 auto;
    }
    }

    &__button {
        margin: 27px auto 0 auto;
        color: $white-color;
        @include flex-center;
        @include button-reservation;
        position: relative;
        z-index: 1;

        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
            border-radius: 25px;
            background: $linear-gradient-light;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            transition : opacity 250ms;
        }
    }
}

.presentation {
    background-color: $white-color;
    padding: 48px 20px 68px 20px;

    @media (min-width: $min-width-desktop) {
    margin: 0;
    padding: 50px 180px;
    }

    & h2 {
        margin-bottom: 26px;

        @media (min-width: $min-width-desktop) {
        margin-bottom: 25px;
        }
    }

    &__article {
        @include flex-column (25px);
    
        @media (min-width: $min-width-desktop) {
        @include flex-row (24px);
        }

        & .article__button {
            @include button-presentation;
            @include flex-items-center;
            position: relative;
            left: 12px;
            margin-right: 12px;

            @media (min-width: $min-width-desktop) {
            width: 100%;
            }

            & .article__number {
                @include box-size(24px, 24px);
                @include text-font(500, 14.18px);
                color: $white-color;
                border-radius: 50%;
                background-color: $primary-color;
                @include flex-center;
                position: relative;
                right: 12px;
            }
            & .fa-solid.fa-mobile-screen-button {
                @include logo-size(13px, 20px);
                @include flex-center;
            }
            & .fa-solid.fa-store {
                @include logo-size(18px, 18px);
                color: $primary-color;
            }
            & .fa-solid {
                color: $presentation-icon-color;
                margin: 0 27px 0 10px;
            }
        }
    }
}

.restaurants {
    padding: 54px 18px 66px 17px;
    background-color: $main-color;

    @media (min-width: $min-width-desktop) {
    padding: 30px 180px;
    }
    
    & h2 {

        margin-bottom: 24px;

        @media (min-width: $min-width-desktop) {
        margin-bottom: 28px;
        }
    }

    &__cards {
        @include flex-column (18px);

        @media (min-width: $min-width-desktop) {
        @include flex-row;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 100px;
        }

        & a {
            text-decoration: unset;
            color: $black-color;

            @media (min-width: $min-width-desktop) {
            width: calc((100% - 100px) / 2);
            }
        }

        & .card {
            @include flex-column (16px);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            background-color: $white-color;

             &__image {
                position: relative;

                & img {
                    @include box-size(100%, 174px);
                    object-fit: cover;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                &--button {
                    color: $card__text--button-color;
                    @include text-font(500, 14px);
                    @include button-image;
                    @include flex-center;
                    margin: 0;
                    position: absolute;
                    top: 13px;
                    right: 12px;
                }
            }

            &__content {
                @include flex-items-center-between;
                padding: 0 25px 0 13px;

                @media (min-width: $min-width-desktop) {
                padding-left: 18.74px;
                }

                & .card-title {
                margin: 0 0 5px 0;
                @include text-font(700, 18px);
                }

                & .card-subtitle {
                margin: 0 0 12px 0;
                @include text-font(300, 17px);
                }

                & .card-heart {
                    position: relative;

                    &:hover {
                        .fa-solid {
                            opacity: 1;
                        }
                    }

                    & .fa-solid,
                      .fa-regular {
                        @include logo-size(22px,21px);
                        @include flex-center;
                        color: $logo-color;
                    }

                    & .fa-solid {
                        opacity: 0;
                        background-color: $linear-gradient;
                        position: absolute;
                        top: 0;
                        background: $linear-gradient;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        transition: opacity 1s ease-in-out;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $dark-grey-color;
    padding: 22px 25px;
    
    @media (min-width: $min-width-desktop) {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    }
    
    & .footer__logo {
        @include logo-size(139px, 27px);
        margin-bottom: 16px;

        @media (min-width: $min-width-desktop) {
        margin: 0;
        }
    }

    & .footer__content {
    
        @media (min-width: $min-width-desktop) {
        @include flex-row;
        }

        & .footer__text-icon {
            @include flex-column (7px);

            @media (min-width: $min-width-desktop) {
            @include flex-row (7px);
            margin-right: 44px;
            } 
            
            & div {
                @include flex-row (11px);

                & .fa-solid {
                    color: $white-color;
                    @include logo-size(11px,13px);
                    @include flex-items-center;
                }

                & a {
                    text-decoration: unset;
                    color: $white-color;
                    @include text-font(500, 16px);
                }
            }
        }

        & .footer__list {
            margin: 7px 0 0 0;
            padding: 0;
            list-style: none;
            color: $white-color;
            @include flex-column (7px);

            @media (min-width: $min-width-desktop) {
            margin: 0 90px 0 0;
            @include flex-row (16px);
            } 

            & a {
                text-decoration: unset;
                color: $white-color;
                @include text-font(400, 16px);
            }
        }
    }
}