/*------------Variables------------*/

/*var-color*/
$main-color: #F6F6F6;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-grey-color: #353535;
$location-color: #EAEAEA;
$presentation-icon-color: #7E7E7E;
$card__text--button-color : #008766;
$white-color: #FFFFFF;
$black-color: #000000;
$logo-color: #101010;

/*var-font*/
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Shrikhand', sans-serif;

/*var-gradient*/
$linear-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$linear-gradient-light: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

/*var-zone de zoom sur image des pages restaurants*/
$palette_du_gout-image-focus: center 58%;
$la_note_enchantee-image-focus: center 60%;
$a_la_française-image-focus: center 68%;
$le_delice_des_sens-image-focus: center 70%;

/*var-durées et délais d'animation pour l'apparition des menus */
$transform-menu-Y-duration: 1000ms;
$animation-dishes-delay: $transform-menu-Y-duration;
$animation-desserts-delay: $transform-menu-Y-duration + $animation-dishes-delay;

/*var-durées et délais d'animation pour loader page accueil*/
$loader__bar-duration: 2000ms;
$loader__bar-delay: 150ms;
$loader-duration: 0ms;
$loader-delay: $loader__bar-duration + $loader__bar-delay;      
$main__content-duration : 0ms;
$main__content-delay: $loader__bar-duration + $loader__bar-delay;   

/*var-durées et délais d'animation pour apparition light-linear-gradient sur boutons principaux*/
$light-gradient-duration: 250ms;

/*var-arrondi barre de progression*/
$loader__bar-radius: 25px;

/*var-valeurs de chevauchement du menu sur l'image des menus */
$menu-overlap-mobile: 55px;
$menu-overlap-desktop: 40px;

/*var-largeur du conteneur de la coche des menus */
$card__check-width: 59px;

/*var-media queries*/
$min-width-mobile: 325px;
$min-width-card-image-position: 505px;
$min-width-desktop: 1024px;

/*------------Mixins------------*/

/*mixins-size*/
@mixin text-logo {
    font-family: $logo-font-family;
    font-weight: 400;
}

@mixin logo-size ($width, $size) {
    width: $width;
    font-size: $size;
}

@mixin text-font ($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}

@mixin box-size ($width, $height) {
    width: $width;
    height: $height;
}

/*Mixin pour manipuler couleur et background des icônes*/
@mixin background-text-clip {
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*mixins- display: flex*/
@mixin flex-center ($gap: 0) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
}

@mixin flex-items-center ($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flex-items-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column ($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-row ($gap: 0) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}

/*mixins position*/
@mixin absolute-position($top: 0, $right: 0, $bottom: 0, $left:0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*mixins shadow*/
@mixin box-shadow($y, $blur, $spread, $opacity) {
    box-shadow: 0 $y $blur $spread rgba(0, 0, 0, $opacity);
}

/*mixins- button*/
@mixin button-reservation {
    @include box-size(218px,50px);
    background: $linear-gradient;
    @include box-shadow(4px, 10px, 0, 0.25);
    border-radius: 25px;
    cursor: pointer;
}

@mixin button-presentation {
    height: 72.38px;
    background-color: $main-color;
    border-radius: 20px;
    @include box-shadow(4px, 15px, 0, 0.15);
}

@mixin button-image {
    @include box-size(80px,29px);
    background-color: $tertiary-color;
    @include box-shadow(2px, 4px, 0, 0.15);
    border-radius: 2px;
}

/*mixins-animations*/
@mixin transform-menu-Y {
    transform-origin: top;
    transform: scaleY(0);
}

@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}