/*------------Importations des variables et des mixins------------*/

@use '../functions/variables_and_mixins' as *;


.header__menu {
    position: relative;

    .goback-icon {
        @include absolute-position(auto, auto, auto, 23px);

        .fa-solid {
            color: $dark-grey-color;
            @include logo-size(17.2px, 16px);
        }
    }
}

main > img {
    @include box-size(100%, 275px); 
    object-fit: cover;

    @media (min-width: $min-width-desktop) {
        height: 383px;
    }
}

.main__image--palette-du-gout {
    @media (min-width: $min-width-desktop) {
        object-position: $palette_du_gout-image-focus;
    }
}

.menu {
    background-color: $main-color;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: $menu-overlap-mobile;
    @include flex-column(40px);
    padding: 0 13px;
    margin-bottom: -$menu-overlap-mobile;

    @media (min-width: $min-width-desktop) {
        margin: auto;
        width: 1055px;
        padding: unset;
        bottom: $menu-overlap-desktop;
        margin-bottom: -$menu-overlap-desktop;
    }

    .card-heart {
        position: relative;

        &:active {
            .fa-solid {
                opacity: 1;
            }
        }

        .fa-solid,
        .fa-regular {
            @include logo-size(22px,21px);
            @include flex-center;
            color: $logo-color;
            cursor: pointer;
        }

        .fa-solid {
            opacity: 0;
            background: $linear-gradient;
            @include absolute-position;
            @include background-text-clip;
            transition: opacity 1s ease-in-out;
        }
    }

    section {
        @include flex-column(12px);

        @media (min-width: $min-width-desktop) {
            margin: auto;
        }
    }

    & .menu__title {
        @include flex-row;
        @include flex-items-center(35px);
        padding-top: 32px;

        @media (min-width: $min-width-desktop) {
            gap: 24px;
            padding-top: 51px;
        }
    

        h1 {
            @include text-logo;
            @include text-font(400, 28px);
            color: $logo-color;
            margin: 0;
        }

        .fa-regular {
            @include logo-size(22px, 21px);
            color: $logo-color;
        }
    }

    /*Animations d'apparition des sections (entrées puis plats puis desserts)*/

    &__starter,
    &__dishes,
    &__desserts {
        @include transform-menu-Y;
        animation: menu $transform-menu-Y-duration ease-in-out forwards;
    }

    &__dishes {
        animation-delay: $animation-dishes-delay;
    }

    &__desserts {
        animation-delay: $animation-desserts-delay;
    }

    @keyframes menu {
        from {
            transform: scaleY(0);  
        }
        to {
            transform: scaleY(1);
        }
    }

    h2 {
        @include text-font(300, 16px);
        margin: 0;

        &::after {
            content: "";
            display: block;
            @include box-size(40px, 3px);
            background-color: $tertiary-color;
            margin-top: 9px;
        }
    }

    .card {
        @include flex-items-center-between;
        background-color: $white-color;
        height: 69px;
        @include box-shadow(4.01149px, 15.0431px, 0, 0.1);
        border-radius: 15.04px;
        padding: 0 15px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        @media (min-width: $min-width-desktop) {
            width: 634px;
        }

        &:active {
            .card__check {
                left: calc(100% - $card__check-width);
            }

            .card__price {
                margin-right: $card__check-width;
            }
        }

        &__text {
            @include flex-column(5px);
            min-width: 0;

            & h3 {
                font-size: 18px;
                @include text-ellipsis;
            }

            & p {
                @include text-font(300, 15.04px);
                @include text-ellipsis;
            }
        }

        &__price {
            @include text-font(700, 15.04px);
            color: $dark-grey-color;
            margin-top: 26px;
            transition: margin-right 1s;
        }
        
        &__check {
            background-color: $tertiary-color;
            @include box-size($card__check-width, 100%);
            border-radius: 0 15px 15px 0;
            @include flex-center;
            @include absolute-position(0, 0, 0, 100%);
            transition: left 1s;

            & .fa-circle-check {
                color: $tertiary-color;
                background-color: $white-color;
                font-size: 20px;
                @include background-text-clip;
            }
        }
    }

    & .reservation__button {
        width: 186px;
        margin: 0 auto 40px auto;
    }
}
