@charset "UTF-8";
/*------------Importations des variables et des mixins------------*/
/*------------Variables------------*/
/*var-color*/
/*var-font*/
/*var-gradient*/
/*var-zone de zoom sur image des pages restaurants*/
/*var-durées et délais d'animation pour l'apparition des menus */
/*var-durées et délais d'animation pour loader page accueil*/
/*var-durées et délais d'animation pour apparition light-linear-gradient sur boutons principaux*/
/*var-arrondi barre de progression*/
/*var-valeurs de chevauchement du menu sur l'image des menus */
/*var-largeur du conteneur de la coche des menus */
/*var-media queries*/
/*------------Mixins------------*/
/*mixins-size*/
/*Mixin pour manipuler couleur et background des icônes*/
/*mixins- display: flex*/
/*mixins position*/
/*mixins shadow*/
/*mixins- button*/
/*mixins-animations*/
.header__menu {
  position: relative;
}
.header__menu .goback-icon {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 23px;
}
.header__menu .goback-icon .fa-solid {
  color: #353535;
  width: 17.2px;
  font-size: 16px;
}

main > img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  main > img {
    height: 383px;
  }
}

@media (min-width: 1024px) {
  .main__image--palette-du-gout {
    -o-object-position: center 58%;
       object-position: center 58%;
  }
}

.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 13px;
  margin-bottom: -55px;
  /*Animations d'apparition des sections (entrées puis plats puis desserts)*/
}
@media (min-width: 1024px) {
  .menu {
    margin: auto;
    width: 1055px;
    padding: unset;
    bottom: 40px;
    margin-bottom: -40px;
  }
}
.menu .card-heart {
  position: relative;
}
.menu .card-heart:active .fa-solid {
  opacity: 1;
}
.menu .card-heart .fa-solid,
.menu .card-heart .fa-regular {
  width: 22px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  color: #101010;
  cursor: pointer;
}
.menu .card-heart .fa-solid {
  opacity: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: opacity 1s ease-in-out;
}
.menu section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1024px) {
  .menu section {
    margin: auto;
  }
}
.menu .menu__title {
  display: flex;
  flex-direction: row;
  gap: 0;
  display: flex;
  align-items: center;
  gap: 35px;
  padding-top: 32px;
}
@media (min-width: 1024px) {
  .menu .menu__title {
    gap: 24px;
    padding-top: 51px;
  }
}
.menu .menu__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 28px;
  color: #101010;
  margin: 0;
}
.menu .menu__title .fa-regular {
  width: 22px;
  font-size: 21px;
  color: #101010;
}
.menu__starter, .menu__dishes, .menu__desserts {
  transform-origin: top;
  transform: scaleY(0);
  animation: menu 1000ms ease-in-out forwards;
}
.menu__dishes {
  animation-delay: 1000ms;
}
.menu__desserts {
  animation-delay: 2000ms;
}
@keyframes menu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.menu h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.menu h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 9px;
}
.menu .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 69px;
  box-shadow: 0 4.01149px 15.0431px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15.04px;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu .card {
    width: 634px;
  }
}
.menu .card:active .card__check {
  left: calc(100% - 59px);
}
.menu .card:active .card__price {
  margin-right: 59px;
}
.menu .card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
}
.menu .card__text h3 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu .card__text p {
  font-weight: 300;
  font-size: 15.04px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu .card__price {
  font-weight: 700;
  font-size: 15.04px;
  color: #353535;
  margin-top: 26px;
  transition: margin-right 1s;
}
.menu .card__check {
  background-color: #99E2D0;
  width: 59px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transition: left 1s;
}
.menu .card__check .fa-circle-check {
  color: #99E2D0;
  background-color: #FFFFFF;
  font-size: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu .reservation__button {
  width: 186px;
  margin: 0 auto 40px auto;
}/*# sourceMappingURL=_menu.css.map */